<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
    <title>Chat Widget</title>

    <!--图标库-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <!-- 默认样式-->
    <link rel="stylesheet" href="../static/css/reset.min.css">

    <!-- 主要样式-->
    <link rel="stylesheet" href="../static/css/style.css">


    <script src="../static/chatJs/jquery.min.js"></script>
    <script src="../static/chatJs/flexible.js"></script>

	</head>

	<body>
		<div class="container clearfix">
			<div class="people-list" id="people-list">
            <div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
            </div>
            <ul class="list">
                <li class="clearfix">
                    <img src="../static/chatImages/tq.JPG" alt="avatar" height="60" width="60"  />
                    <div class="about">
                        <div class="name">小胖墩儿</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/sqs.jpg" alt="avatar" height="60" width="60" />
                    <div class="about">
                        <div class="name">Natural Selection</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 2 mins ago
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/syz.jpg" alt="avatar" height="60" width="60"  />
                    <div class="about">
                        <div class="name">Dreaming</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 7 mins ago
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/2.JPG" alt="avatar" height="60" width="60"/>
                    <div class="about">
                        <div class="name">UCloud</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/3.JPG" alt="avatar" height="60" width="60" />
                    <div class="about">
                        <div class="name">大花猫</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>


                <li class="clearfix">
                    <img src="../static/chatImages/4.JPG" alt="avatar" height="60" width="60"/>
                    <div class="about">
                        <div class="name">Violet</div>
                        <div class="status">
                            <i class="fa fa-circle offline"></i> left 30 mins ago
                        </div>
                    </div>
                </li>


                <li class="clearfix">
                    <img src="../static/chatImages/5.JPG" alt="avatar" height="60" width="60"/>
                    <div class="about">
                        <div class="name">老钱</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/6.JPG" alt="avatar" height="60" width="60"/>
                    <div class="about">
                        <div class="name">Amazon</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>

                <li class="clearfix">
                    <img src="../static/chatImages/7.PNG" alt="avatar" height="60" width="60"/>
                    <div class="about">
                        <div class="name">JackMa</div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> online
                        </div>
                    </div>
                </li>
            </ul>
        </div>

            <div class="chat">
            <div class="chat-header clearfix">
                <img src="../static/chatImages/bot1.png" alt="avatar" height="60" width="60"/>

                <div class="chat-about">
                    <div class="chat-with">医疗小助手</div>
                    <div class="chat-num-messages">already 1 902 messages</div>
                </div>
                <i class="fa fa-star"></i>
            </div>
			<div class="message">

				 <!--div class="send">
					<div class="msg">
						<img src="../static/chatImages/man.png" alt="" />
						<p><i class="msg_input"></i>请输入内容开始对话</p>
					</div>
				</div>
				<--div class="send"-->

				<!--div!-->


		</div>

                <div class="footer">



				<input type="text" id='inputVal' placeholder='请输入对话内容'/>
				<p>发送</p>
			    </div>
                </div>
        </div>
	<script src="../static/chatJs/chat.js" type="text/javascript" charset="utf-8"></script>

	<script src="../static/chatJs/picker.min.js"></script>
	<script type="text/javascript" src="../static/chatJs/city.js"></script>
	<script type="text/javascript" src="../static/chatJs/index.js"></script>

	</body>
</html>
